<div>
    <h5>Archive Notification </h5>
    <p>{{name}}</p>
    <p>{{eventType}} </p>
    <p>{{content}} </p>

    <p>For more information, please visit the
        <a href="https://maarchrmap.axone-sn.com/">Axone RMAP</a> website.
    </p>
    <p>Thank you for your attention.</p>
    <p>Axone Maarch RMAP</p>
</div>
