<div>
    <h5>Archive Notification </h5>
    <p>This is a sample message to notify {{name}}</p>
    <p>that a {{eventType}}</p>
    <p>has been created on the Maarch RMAP platform.</p>

    <p>For more information, please visit the Maarch RMAP platform.</p>
    <p>Thank you for your attention.</p>
    <p>Axone Maarch RMAP</p>
</div>
